.jeff{background-color: black;color:white;}
.link{font-family:monospace; background-color:black; color: yellow; }
.veg{
	color:green;
}
.nonveg{
	color:white;
}
#hehe{
	background-color:orange;
    width: 100%;
	height:60px;
}
.sidebar{
	background-color: green;
	position: absolute;
	top:0px;
	width:200px;
	height:100%;
}
.linkclr{
	color: black;
}
.container{
	position: relative;
	height: 1000px;
	border-color: white;

}
.content{
	position: absolute;
	top:0px;
	margin-left: 200px;
}
body{
	margin: 0px;
}